<app-header></app-header>
<main>
    <ng-container *ngIf="loading && !error">
        <div class="spinner-container">
            <mat-spinner></mat-spinner>
        </div>
    </ng-container>
    <app-request *ngIf="!showNewProject && !loading && !error" 
        [requests]="requests"
        [totalItems]="totalItems" 
        (newProjectRequested)="openNewProjectForm()">
    </app-request>
    <!-- <app-error-message 
    *ngIf="!loading && error" 
    [errorMessage]="'Não foi possível buscar os projetos'" 
    (onRetry)="getProjects()"
    >
    </app-error-message> -->
    <app-new-project *ngIf="showNewProject" (backButtonClicked)="handleBackButtonClick()"></app-new-project>

</main>


