<div class="form-container">
    <button mat-raised-button (click)="onBackButtonClicked()">Voltar</button>
    <h2 style="color: orange;">Adicionando um pedido</h2>
    
    <form class="custom-form">
        <div class="form-row">
            <div class="label-container">
                <p>Cliente</p>
                <mat-form-field appearance="outline" class="input-field">
                    <input matInput id="input">
                </mat-form-field>
            </div>
            
            <div class="label-container">
                <p>Data Pedido</p>
                <mat-form-field appearance="outline" class="input-field">
                    <input matInput type="date">
                </mat-form-field>
            </div>
        </div>
        
        <div class="form-row">
            <div class="label-container">
                <p>Ambiente</p>
                <mat-form-field appearance="outline" class="input-field">
                    <mat-select id="enviroment" [(value)]="selectedEnviroment">
                        <mat-option value="Sala">Sala</mat-option>
                        <mat-option value="Cozinha">Cozinha</mat-option>
                        <mat-option value="Escritório">Escritório</mat-option>
                        <mat-option value="Quarto">Quarto</mat-option>
                        <mat-option value="Sala de jantar">Sala de jantar</mat-option>
                        <mat-option value="Patio">Patio</mat-option>
                        <mat-option value="Lavanderia">Lavanderia</mat-option>
                        <mat-option value="Banheiro">Banheiro</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            
            <div class="label-container">
                <p>Data Entrega</p>
                <mat-form-field appearance="outline" class="input-field">
                    <input matInput type="date">
                </mat-form-field>
            </div>
        </div>

        <div class="form-row">
            <div class="label-container">
                <p>Status</p>
                <mat-form-field appearance="outline" class="input-field">
                    <mat-select id="status" [(value)]="selectedStatus">
                        <mat-option value="novo">Novo</mat-option>
                        <mat-option value="emAndamento">Em andamento</mat-option>
                        <mat-option value="finalizado">Finalizado</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            
            <div class="label-container">
                <p>Projetista</p>
                <mat-form-field appearance="outline" class="input-field">
                    <mat-select id="projetista" [(value)]="selectedProjetista">
                        <mat-option *ngFor="let projetista of projetistas" [value]="projetista">
                            {{ projetista }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="form-row">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Observação</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>
        
        <div class="button-container">
            <button mat-raised-button class="custom-orange-button">Cadastrar</button>
        </div>
        
    </form>
</div>