<div class="form-container">
    <button mat-raised-button class="custom-orange-button" (click)="onBackButtonClicked()">Voltar</button>
    <h2 style="color: ea7406;">Adicionando um pedido</h2>
    
    <form #myForm="ngForm" (ngSubmit)="submitRequest()"  enctype="multipart/form-data" custom-form>
        <div class="form-row">

            <div class="label-container">
                <p>E-mail</p>
                <mat-form-field appearance="outline" class="input-field">
                  <input matInput type="email" [(ngModel)]="pedido.cliente_email" name="email" required email>
                  <mat-error *ngIf="myForm.controls['email']?.errors?.['required']">
                    O campo é obrigatório.
                  </mat-error>
                  <mat-error *ngIf="myForm.controls['email']?.errors?.['email']">
                    Insira um e-mail válido.
                  </mat-error>
                </mat-form-field>
            </div>

            <div class="label-container">
                <p>Cliente</p>
                <mat-form-field appearance="outline" class="input-field">
                    <input matInput id="input" name="cliente" [(ngModel)]="pedido.cliente" required minlength="5">
                    <mat-error *ngIf="myForm.controls['cliente']?.errors?.['required']">
                        O campo é obrigatório.
                      </mat-error>
                      <mat-error *ngIf="myForm.controls['cliente']?.errors?.['minlength']">
                        Mínimo 5 caracteres.
                      </mat-error>
                </mat-form-field>
            </div>

            <div class="label-container">
                <p>Ambiente</p>
                <mat-form-field appearance="outline" class="input-field">
                    <mat-select id="enviroment" [(ngModel)]="pedido.ambiente" name="ambiente" [(value)]="selectedEnviroment">
                        <mat-option value="Sala">Sala</mat-option>
                        <mat-option value="Cozinha">Cozinha</mat-option>
                        <mat-option value="Escritório">Escritório</mat-option>
                        <mat-option value="Quarto">Quarto</mat-option>
                        <mat-option value="Sala de jantar">Sala de jantar</mat-option>
                        <mat-option value="Patio">Patio</mat-option>
                        <mat-option value="Lavanderia">Lavanderia</mat-option>
                        <mat-option value="Banheiro">Banheiro</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>    
        
        <div class="form-row">      
            <div class="label-container">
                <p>Data Pedido</p>
                <mat-form-field appearance="outline" class="input-field">
                    <input matInput type="date" [(ngModel)]="pedido.data_pedido" name="dataPedido" required>
                </mat-form-field>
            </div>
            <div class="label-container">
                <p>Data Entrega</p>
                <mat-form-field appearance="outline" class="input-field">
                    <input matInput type="date" [(ngModel)]="pedido.data_entrega" name="dataEntrega" required>
                </mat-form-field>
            </div>
        </div>

        <div class="form-row">
            <div class="label-container">
                <p>Status</p>
                <mat-form-field appearance="outline" class="input-field">
                    <mat-select id="status" [(ngModel)]="pedido.status" name="status" [(value)]="selectedStatus">
                        <mat-option value="Novo">Novo</mat-option>
                        <mat-option value="Em Andamento">Em andamento</mat-option>
                        <mat-option value="Finalizado">Finalizado</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            
            <div class="label-container">
                <p>Projetista</p>
                <mat-form-field appearance="outline" class="input-field">
                    <mat-select id="projetista" name="projetista"[(ngModel)]="pedido.projetista">
                        <mat-option *ngFor="let projetista of projetistas" [value]="projetista">
                            {{ projetista }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="form-row">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Observação</mat-label>
                <textarea matInput [(ngModel)]="pedido.observacao" name="observacao" required></textarea>
            </mat-form-field>
        </div>

        <div class="form-row">
            <div class="label-container">
                <p>Upload de Arquivo</p>
                <input type="file" (change)="handleFileInput($event)" accept=".pdf">
            </div>
        </div>
        
        <div class="button-container">
            <button mat-raised-button type="submit" class="custom-orange-button">Cadastrar</button>
        </div>
        
    </form>
</div>