<div class="container">
  <div class="images">
      <img src="../../../../../assets/leffa-moveis.png" alt="Image 1" class="img-home">
      <img src="../../../../../assets/leffa-fachada2.jpeg" alt="Image 3" class="img-home">
      <img src="../../../../../assets/leffa-fachada.jpeg" alt="Image 2" class="img-home">
      
  </div>

  <div class="login-section">
        <img src="../../../../../assets/logo.png" alt="Logo" class="logo">
        <div class="login">
          <span id="login">Login</span>
          <mat-form-field appearance="outline">
             
              <input matInput placeholder="Usuário" [(ngModel)]="username">
          </mat-form-field>
          <span id="senha">Senha</span>
          <mat-form-field appearance="outline">
              <input matInput type="password" placeholder="Senha" [(ngModel)]="password">
          </mat-form-field>
          <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
          <button mat-raised-button [disabled]="isLoading || !username || !password" id="custom-btn" (click)="onLogin()">
            <ng-container *ngIf="!isLoading; else spinner">
                ENTRAR
            </ng-container>
            <ng-template #spinner>
                <mat-spinner diameter="20" color="primary"></mat-spinner>
            </ng-template>
        </button>
        </div>  
  </div>
</div>