<div class="login-container">
    <div class="image-section">
      <img src="path/to/image1.jpg">
      <img src="path/to/image2.jpg">
      <img src="path/to/image3.jpg">
    </div>
  
    <div class="form-section">
      <img src="path/to/logo.jpg" class="logo">
      
      <mat-form-field appearance="fill">
        <mat-label>Login</mat-label>
        <input matInput type="text">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput type="password">
      </mat-form-field>
  
      <button mat-raised-button color="accent">ENTRAR</button>
    </div>
  </div>
