/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    background-color: #f5f5f5; /* Exemplo de cinza claro. Ajuste conforme necessário. */
    font-family: 'Arial', sans-serif; /* Defina sua fonte preferida */
    margin: 0;
    padding: 0;
}

.custom-orange-button {
    background-color: #ea7406; 
    color: #fff;
    width: 200px; 
    border: none ;
    transition: background-color 0.3s, transform 0.3s;
    padding:7px;
    border-radius: 8px;
    cursor:pointer;
}

.success-snack {
    background-color: #4CAF50; /* Green for success */
    color: #fff;
  }
  .error-snack {
    background-color: #F44336; /* Red for error */
    color: #fff;
  }

  .mat-mdc-form-field-infix{
    min-height: 0px;
  }
