.dialog-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .attention-icon {
    color: #ffa726; 
    font-size: 48px; 
    padding-bottom: 10px; 
  }

  .mat-dialog-actions {
    display: flex;
    width:100%;
    justify-content: space-between;
    margin-top:24px;
    
  }

  .modal-container {
    padding:24px;
  }

  .mat-mdc-dialog-container {
    height: auto;
  }

  .mdc-dialog__surface {
    height: auto;
  }