.table-container {
    padding: 20px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

table{
    margin-top:30px;
}

.mat-icon-button {
    background-color: transparent;
    border: none;
  }
  
  .mat-icon-button:hover {
    color: black; /* Cor quando o mouse passa por cima */
  }
  
  /* Estilizar nome do cliente */
  .cliente-column {
    color: #ea7406;
  }

 .icons {
    color: #ea7406;
    cursor: pointer
 }

 .icons:hover{
    color: black;
 }


 .status-novo {
  color: black;
  border: 1px solid black;
  padding: 5px;
  border-radius: 4px;
}

.status-em-andamento {
  color: #2F4F2F;
  border: 1px solid #2F4F2F;
  padding: 5px;
  border-radius: 4px;
}

.status-finalizado {
  color: #ea7406;
  border: 1px solid #ea7406;
  padding: 5px;
  border-radius: 4px;
}

#status {
  width: 110px;
}
tr:hover{
  background-color: rgba(240, 194, 143, 0.1);
}
