.table-container {
    padding: 20px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

table{
    margin-top:30px;
}

.mat-icon-button {
    background-color: transparent;
    border: none;
  }
  
  .mat-icon-button:hover {
    color: black; /* Cor quando o mouse passa por cima */
  }
  
  /* Estilizar nome do cliente */
  .cliente-column {
    color: #ea7406;
  }

 .icons {
    color: #ea7406;
    cursor: pointer
 }

 .icons:hover{
    color: black;
 }