<div class="new-project-button">
        <button 
        mat-raised-button class="custom-orange-button"
        *ngIf="userService.canDisplayButton()" 
        (click)="requestNewProject()">NOVO PROJETO   +
    </button>
</div>
    <div class="table-container">
        <div class="table-header">
            <span class="title">Pedidos</span>
            <div class="inputs-header">
                <mat-form-field appearance="outline" class="example-form-field">
                    <input matInput type="text" [(ngModel)]="designerFilter" placeholder="projetista">
                </mat-form-field>
            
                <mat-form-field appearance="outline" class="filter-input custom-input">
                    <input matInput type="date" [(ngModel)]="dateFilter" placeholder="Filtrar">
                    <mat-icon matSuffix>filter_list</mat-icon>
                </mat-form-field>
            </div>
            <button mat-button color="primary" (click)="onFilter()">Filtrar</button>
        </div> 
        <app-table 
            [requests]="requests" 
            [totalItems]="totalItems"
            [currentPage]="currentPage"
            (pageChange)="onPageChanged($event)"
            (requestDeleted)="onRequestDeleted()">    
        </app-table>
    </div>